<header>
  <p>Statuses</p>
</header>

<p class="addlink"><%= link_to 'Create a New Status', new_status_path %></p>

<%= render @statuses %>

<p class="addlink"><%= link_to 'Back to Projects', projects_path %></p>
<br />

